<div class="alignBottom">
  MovementAmount = {{movementAmount}}
  <br>
  <table>
    <tr>
      <td></td>
      <td><img width='50' class='button' float='right' src='../../assets/up.png' (click)="onArrowUp($event)" /></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <img width="50" class='button' src='../../assets/left.png' (click)="onArrowLeft($event)" /></td>
      <td>
        <img width="50" class='button' src='../../assets/down.png' (click)="onArrowDown($event)" /></td>
      <td>
        <img width="50" class='button' src='../../assets/right.png' (click)="onArrowRight($event)" /></td>
    </tr>
  </table>
</div>
