.scrollable{
  height: 400px; /* or any value */
  overflow-y: auto;
}

.positionAbsolute{
  position: absolute;
}

.positonRelative{
  position: relative;
}
.tokenInMoveChain{
  position: relative;
  left:0;
  right: 0;
  bottom:0;
  top:0;
  background-color: red;
  opacity: .5;
  z-index: 2;
}
