<div>
  <table>
    <tbody>
      <tr *ngFor="let row of rows; let rowIndex = index">
        <td *ngFor="let column of columns; let colIndex = index">
          <div [ngSwitch]="getTileType(rowIndex,colIndex)">
            <div *ngSwitchCase="'SeaTile'">
              <app-sea-tile></app-sea-tile>
            </div>
            <div *ngSwitchCase="'LandTile'">
              <app-land-tile></app-land-tile>
            </div>
            <div *ngSwitchCase="'RoadTile'">
              <app-road-tile></app-road-tile>
            </div>
            <div *ngSwitchDefault>
              <app-user-token></app-user-token>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
