.scrollable{
  height: 100px; /* or any value */
  overflow-y: auto;
}

.tokenInMoveChain{
  /*visibility: hidden;*/
  position: fixed;
  left:0;
  right: 0;
  bottom:0;
  top:0;
  background-color: red;
  opacity: .5;
  z-index: 1000000000;
}
